<!doctype html>
<html>
    <head>
        <title>Matchmaker Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    </head>
    <body>
        
        <br>
        
        
        <div data-role="page" id="pageone">
            <div data-role="header">
                <h1>Cross Trainers Mentor-Mentee Matchmaker</h1>
            </div>

            <div data-role="main" class="ui-content">
                <div data-role="collapsible">
                    <h2>Run Matchmaker</h2>
                    <p><a href="/match">Run matchmaker</a></p>
                </div>
            </div>
                
            <div data-role="footer">
                <h1>
                    <br>
                    <!--
                    <a href="/hello">Hello page</a>
                    <br><br><hr><br>
                    This site has a page for everything you can possibly imagine! <br>
                    Seriously, put absolutely anything into the box below, and you'll see. <br>

                
                <form action="." method="POST">
                    <input type="text" name="text">
                    <input type="submit" name="my-form" value="Send">
                </form>-->
                </h1>
            </div>
        </div>
    </body>
    
</html>